Maintenance-chad.json
[{"id":"5991019e.1be13","type":"function","z":"8cfe5f76.2efcb","name":"Fetch MQTT-Test string","func":"//{ \"topic\": \"/AGBT/EQ-99999/Maintenance\", \"payload\": \"12345\", \"qos\": 0, \"retain\": false, \"_msgid\": \"8d2245d8.72ddb8\" }\n\nvar topic = msg.topic;\nvar cmd = msg.payload;  \n//get datetime\nvar dt = new Date(Math.round(+new Date()));\nvar options = {timeZone: 'Asia/Taipei', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };\nvar datestr = dt.toLocaleString('zh-TW', options);\n\nmsg.payload= \"[\" + topic +\", \"+ cmd +\", \" + datestr + \"]\";\nreturn msg;","outputs":1,"noerr":0,"x":498.00016021728516,"y":646.999921798706,"wires":[["c830f82a.8dc0a8","c3d4a26e.be321"]]},{"id":"bb52ba24.4e74d8","type":"exec","z":"8cfe5f76.2efcb","command":" ./ngrok http -auth=\"chad456:winner123\" 1880","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":832.0000228881836,"y":418.99999237060547,"wires":[["b4d180b1.2ae9b"],[],[]]},{"id":"96279874.4494a8","type":"exec","z":"8cfe5f76.2efcb","command":"curl http://127.0.0.1:4040/api/tunnels","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":1011.0000534057617,"y":493.00001335144043,"wires":[["b97076c.0db8088"],[],[]]},{"id":"607e57ba.9ca028","type":"debug","z":"8cfe5f76.2efcb","name":"ngrok URL","active":true,"console":"false","complete":"payload","x":1393.0003356933594,"y":657.0000953674316,"wires":[]},{"id":"b97076c.0db8088","type":"json","z":"8cfe5f76.2efcb","name":"","x":1265.0002098083496,"y":478.6914482116699,"wires":[["5cee3657.6d3f78"]]},{"id":"5cee3657.6d3f78","type":"function","z":"8cfe5f76.2efcb","name":"Fetch EQ's URL:","func":"var data = msg.payload;  \nvar myurl=data.tunnels[0].public_url;\nmsg.payload=myurl+\"/ui\";\nreturn msg;","outputs":1,"noerr":0,"x":1148.0003280639648,"y":590.6915111541748,"wires":[["607e57ba.9ca028","5483a82c.2fd238","6e0fbe66.0ff84"]]},{"id":"b4d180b1.2ae9b","type":"debug","z":"8cfe5f76.2efcb","name":"ngrok http","active":true,"console":"false","complete":"payload","x":1246.0000534057617,"y":405.00004959106445,"wires":[]},{"id":"52f6460f.4f7268","type":"delay","z":"8cfe5f76.2efcb","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":752.9999809265137,"y":491.9999990463257,"wires":[["96279874.4494a8"]]},{"id":"5483a82c.2fd238","type":"ui_text","z":"8cfe5f76.2efcb","group":"32e792c5.9975ae","order":1,"width":0,"height":0,"name":"ngrok URL:","label":"ngrok URL:","format":"{{msg.payload}}","layout":"row-spread","x":1396.000389099121,"y":722.0001392364502,"wires":[]},{"id":"6e0fbe66.0ff84","type":"mqtt out","z":"8cfe5f76.2efcb","name":"EQ-ngrok URL:","topic":"EQ-ngrok","qos":"","retain":"","broker":"fbcb2ad7.126928","x":1400.0001525878906,"y":589.000039100647,"wires":[]},{"id":"55f0387b.d2cb78","type":"mqtt in","z":"8cfe5f76.2efcb","name":"/chad/EQ-001/Test","topic":"/chad/EQ-001/Test","qos":"2","broker":"fbcb2ad7.126928","x":127.00004577636719,"y":54.0001163482666,"wires":[["956628f.ee0eed8","99a126e3.266788","5991019e.1be13"]]},{"id":"99a126e3.266788","type":"switch","z":"8cfe5f76.2efcb","name":"=On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"On-nodered","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"On-ngrok-tcp","vt":"str"},{"t":"eq","v":"On-ngrok-http","vt":"str"},{"t":"eq","v":"Off-ngrok","vt":"str"},{"t":"else"}],"checkall":"true","outputs":7,"x":463.00006103515625,"y":117.00015258789062,"wires":[["f640670c.43b058"],["f81174e3.a228b8"],["f23866d0.cc9f88"],["fedaac52.5dafc","52f6460f.4f7268"],["bb52ba24.4e74d8","52f6460f.4f7268"],["79e2013c.599a"],[]]},{"id":"956628f.ee0eed8","type":"debug","z":"8cfe5f76.2efcb","name":"MQTT-Test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":474.0001220703125,"y":270.0001468658447,"wires":[]},{"id":"f640670c.43b058","type":"exec","z":"8cfe5f76.2efcb","command":"ssh -NfR ':18892:localhost:22' pi@chadwu.dlinkddns.com","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":865.0001220703125,"y":77.00005531311035,"wires":[["6e5c38fd.8fe378"],[],[]]},{"id":"6e5c38fd.8fe378","type":"debug","z":"8cfe5f76.2efcb","name":"SSH tunnel","active":true,"console":"false","complete":"payload","x":1252.000244140625,"y":63.00028038024902,"wires":[]},{"id":"f23866d0.cc9f88","type":"exec","z":"8cfe5f76.2efcb","command":"kill $(ps ax | perl -ne 'print \"$1\\n\" if (/(\\d+).*\\d\\s+ssh.*:.*:/)')","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":867.000244140625,"y":251.00014686584473,"wires":[["e731c13d.c0c78"],[],[]]},{"id":"e731c13d.c0c78","type":"debug","z":"8cfe5f76.2efcb","name":"Kill SSH tunnel","active":true,"console":"false","complete":"payload","x":1260.0001068115234,"y":235.00030899047852,"wires":[]},{"id":"fedaac52.5dafc","type":"exec","z":"8cfe5f76.2efcb","command":"./ngrok  tcp 22","addpay":false,"append":"","useSpawn":false,"timer":"","name":"","x":741.000373840332,"y":337.00023651123047,"wires":[["6e5c38fd.8fe378"],[],[]]},{"id":"4f401f87.92da5","type":"inject","z":"8cfe5f76.2efcb","name":"Manual On-ngrok-tcp","topic":"Manual On-ngrok-tcp","payload":"\"On-ngrok-tcp\"","payloadType":"json","repeat":"","crontab":"","once":false,"x":185.0000457763672,"y":337.333459854126,"wires":[["99a126e3.266788"]]},{"id":"4b418d54.860e54","type":"inject","z":"8cfe5f76.2efcb","name":"Manual Off-ngrok","topic":"Manual Off-ngrok","payload":"\"Off-ngrok\"","payloadType":"json","repeat":"","crontab":"","once":false,"x":166,"y":384.3334426879883,"wires":[["99a126e3.266788"]]},{"id":"2568cad0.6490e6","type":"status","z":"8cfe5f76.2efcb","name":"","scope":["55f0387b.d2cb78"],"x":282.00028228759766,"y":788.0002422332764,"wires":[["ba3ba06b.50cbf","f1a6065e.d457c8"]]},{"id":"afce576a.88b048","type":"debug","z":"8cfe5f76.2efcb","name":"MQTT-Test-Fail","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":848.0002899169922,"y":784.0002422332764,"wires":[]},{"id":"ba3ba06b.50cbf","type":"function","z":"8cfe5f76.2efcb","name":"Get status","func":"// \"msg.status.text=node-red:common.status.connecting\"\nvar idx=msg.status.text.indexOf(\"status.\");\nif (idx >= 0) {\n    //\"Connected/connecting/disconnected\"\n    msg.payload = msg.status.text.substr(idx+7);  \n}    \n\nreturn msg;","outputs":1,"noerr":0,"x":446.00028228759766,"y":791.0002422332764,"wires":[["54f127d1.7d9018"]]},{"id":"f1a6065e.d457c8","type":"debug","z":"8cfe5f76.2efcb","name":"MQTT-Test src","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"status.text","x":461.0002670288086,"y":850.0002307891846,"wires":[]},{"id":"54f127d1.7d9018","type":"switch","z":"8cfe5f76.2efcb","name":"status string","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"},{"t":"eq","v":"connecting","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":628.0002861022949,"y":790.0002422332764,"wires":[[],["afce576a.88b048"],["afce576a.88b048"],["afce576a.88b048"]]},{"id":"79e2013c.599a","type":"exec","z":"8cfe5f76.2efcb","command":"kill $(ps ax | pgrep ngrok)","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":776.0000915527344,"y":564.9999618530273,"wires":[[],[],[]]},{"id":"c3d4a26e.be321","type":"mqtt out","z":"8cfe5f76.2efcb","name":"EQ-debug CMD:","topic":"EQ-debug","qos":"","retain":"","broker":"fbcb2ad7.126928","x":750.0003204345703,"y":682.9998979568481,"wires":[]},{"id":"c830f82a.8dc0a8","type":"debug","z":"8cfe5f76.2efcb","name":"Fetch MQTT-Test string","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":779.000114440918,"y":629.9999942779541,"wires":[]},{"id":"f81174e3.a228b8","type":"exec","z":"8cfe5f76.2efcb","command":"ssh -NfR ':18893:localhost:1880' pi@chadwu.dlinkddns.com","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":876.0000228881836,"y":165.00000762939453,"wires":[["6e5c38fd.8fe378"],[],[]]},{"id":"eb6a4c78.6b789","type":"inject","z":"8cfe5f76.2efcb","name":"Manual Off","topic":"Manual Off","payload":"\"Off\"","payloadType":"json","repeat":"","crontab":"","once":false,"x":143.00001525878906,"y":291.999963760376,"wires":[["99a126e3.266788"]]},{"id":"23b11d5f.2cb072","type":"inject","z":"8cfe5f76.2efcb","name":"Manual On-nodered","topic":"Manual On-nodered","payload":"\"On-nodered\"","payloadType":"json","repeat":"","crontab":"","once":false,"x":176.00001525878906,"y":148.99996376037598,"wires":[["99a126e3.266788"]]},{"id":"8559a89f.6dac88","type":"inject","z":"8cfe5f76.2efcb","name":"Manual On","topic":"Manual On","payload":"\"On\"","payloadType":"json","repeat":"","crontab":"","once":false,"x":146.00001525878906,"y":106.99996376037598,"wires":[["99a126e3.266788"]]},{"id":"18dadc73.973f34","type":"inject","z":"8cfe5f76.2efcb","name":"","topic":"Once at Start","payload":"\"On\"","payloadType":"str","repeat":"","crontab":"","once":true,"x":173.00001525878906,"y":197.99996376037598,"wires":[[]]},{"id":"dc7cf35c.97548","type":"inject","z":"8cfe5f76.2efcb","name":"","topic":"Once at Start","payload":"\"On-nodered\"","payloadType":"str","repeat":"","crontab":"","once":true,"x":202.00001525878906,"y":243.99996376037598,"wires":[[]]},{"id":"32e792c5.9975ae","type":"ui_group","z":"","name":"Report","tab":"6e77c269.a36eac","order":10,"disp":true,"width":"6","collapse":false},{"id":"fbcb2ad7.126928","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"close","willTopic":"","willQos":"0","willPayload":"publisher disconnects abnormally"},{"id":"6e77c269.a36eac","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]