TimestampToDate.json
[{"id":"509b5dc2.b47f04","type":"debug","z":"19e5e692.fb2f59","name":"output","active":true,"console":"false","complete":"true","x":432,"y":300,"wires":[]},{"id":"acafa2cd.54b36","type":"function","z":"19e5e692.fb2f59","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar options = {timeZone: 'Asia/Taipei', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };\nvar msg = {\n\t'payload':  dt.toLocaleString('zh-TW', options),\n\t'year':\t\tdt.getFullYear(),\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":300,"wires":[["509b5dc2.b47f04"]]},{"id":"9afa8871.5ce498","type":"inject","z":"19e5e692.fb2f59","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":300,"wires":[["acafa2cd.54b36"]]}]